@import '~antd/dist/antd.css';

.fuck {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	/* background-color: #f5f5f6; */
}

/* .fuck .innerContainer {
	flex: 1 1;
} */

.search-form {
  max-width: 300px;
}

.search-form-button {
  width: 100%;
}